/* Titlebar */
.hover_window {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 10px;
    app-region: drag;
}

#center {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: calc(100% - 10px);
}

.control_panel {}

.control_panel>* {
    app-region: no-drag;
}

.buttonsContainer>* {
    text-align: center;
}

.border-black {
    border-color: #74b1be;
}

.w-8 {
    /* 32px */
    width: 2rem;
}