html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  /* Убираем скролл у всего body */
}

body {
  background-color: var(--dark-bg-color);
  font-family: Segoe WPC, Segoe UI, sans-serif
}

:root {
  --height-navbar: 0px;
  --dark-bg-color: #2f3241;
  --bg-color-navbar: var(--dark-bg-color);
  --zoom-factor: 1;
}

#status_bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  width: fit-content;
  background-color: black;
  color: white;
  transition: opacity 0.4s ease-in-out;
}

.no-drag * {
  app-region: no-drag;
}

.app-drag  {
  app-region: drag;
}

#app {
  position: absolute;
  top: var(--height-navbar);
  /* Отступ сверху, чтобы не перекрывать titlebar */
  bottom: 0;
  /* Отступ снизу, чтобы не перекрывать status_bar */
  left: 0;
  right: 0;
  overflow-y: auto;
  /* Включаем скролл для основного содержимого */
}